<p style="color: green"><%= notice %></p>

<%= render @collection %>

<h4>Documents</h4>
<div id="documents">
  <% @collection.documents.each do |document| %>
    <%= render document %>
    <p>
      <%= link_to "Show this document", document %>
    </p>
  <% end %>
</div>

<h4>Patients</h4>
<table id="patients">
  <thead>
    <tr>
      <th>patient_id</th>
      <th>edit</th>
    </tr>
  </thead>
  <tbody>
    <% @collection.patients.each do |patient| %>
    <tr>
      <td><%= patient.patient_id %></td>
      <td><%= link_to "Show", patient %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "Edit this collection", edit_collection_path(@collection) %> |
  <%= link_to "Back to collections", collections_path %>

  <%= button_to "Destroy this collection", @collection, method: :delete %>
</div>
