<div id="<%= dom_id date_record %>">
  <p>
    <strong>Type:</strong>
    <%= date_record.type %>
  </p>

  <p>
    <strong>Patient ID:</strong>
    <%= date_record.patient_id %>
  </p>

  <p>
    <strong>Field:</strong>
    <%= date_record.field.name %>
  </p>

  <p>
    <strong>Date value:</strong>
    <%= date_record.date_value %>
  </p>

</div>
