<div id="<%= dom_id string_record %>">
  <p>
    <strong>Type:</strong>
    <%= string_record.type %>
  </p>

  <p>
    <strong>Patient ID:</strong>
    <%= string_record.patient_id %>
  </p>

  <p>
    <strong>Field:</strong>
    <%= string_record.field.name %>
  </p>

  <p>
    <strong>String value:</strong>
    <%= string_record.string_value %>
  </p>

</div>
