<%= form_with(model: record) do |form| %>
  <% if record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.text_field :type %>
  </div>

  <div>
    <%= form.label :patient_id, style: "display: block" %>
    <%= form.text_field :patient_id %>
  </div>

  <div>
    <%= form.label :field_id, style: "display: block" %>
    <%= form.text_field :field_id %>
  </div>

  <div>
    <%= form.label :string_value, style: "display: block" %>
    <%= form.text_field :string_value %>
  </div>

  <div>
    <%= form.label :option_id, style: "display: block" %>
    <%= form.text_field :option_id %>
  </div>

  <div>
    <%= form.label :int_value, style: "display: block" %>
    <%= form.number_field :int_value %>
  </div>

  <div>
    <%= form.label :float_value, style: "display: block" %>
    <%= form.text_field :float_value %>
  </div>

  <div>
    <%= form.label :date_value, style: "display: block" %>
    <%= form.date_field :date_value %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
