<div id="<%= dom_id record %>">
  <p>
    <strong>Type:</strong>
    <%= record.type %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= record.patient_id %>
  </p>

  <p>
    <strong>Field:</strong>
    <%= record.field_id %>
  </p>

  <p>
    <strong>String value:</strong>
    <%= record.string_value %>
  </p>

  <p>
    <strong>Option:</strong>
    <%= record.option_id %>
  </p>

  <p>
    <strong>Int value:</strong>
    <%= record.int_value %>
  </p>

  <p>
    <strong>Float value:</strong>
    <%= record.float_value %>
  </p>

  <p>
    <strong>Date value:</strong>
    <%= record.date_value %>
  </p>

</div>
