<p style="color: green"><%= notice %></p>

<%= render @document %>

<% if @document.processed %>
<h4>Fields</h4>
<table id="fields">
  <thead>
    <tr>
      <th>Name</th>
      <th>CType</th>
      <th>Processed</th>
      <th>Edit</th>
      <th>Load</th>
    </tr>
  </thead>
  <tbody>
  <% @document.fields.each do |field| %>
  <tr>
    <td><%= field.name %></td>
    <td><%= field.ctype %></td>
    <td><%= field.processed %></td>
    <td><%= link_to "Edit", edit_field_path(field) %></td>
    <td><%= button_to "Load", create_records_path(field) %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<%= button_to "Process Fields", process_csv_path(@document) %>
<% end %>

<%= link_to "New Field Group", new_document_field_group_path(@document) %>

<div>
  <%= link_to "Edit this document", edit_document_path(@document) %> |
  <%= link_to "Back to documents", documents_path %>

  <%= button_to "Destroy this document", @document, method: :delete %>
</div>
