<div id="<%= dom_id concept %>">
  <p>
    <strong>Obo class:</strong>
    <%= concept.obo_class %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= concept.label %>
  </p>

  <p>
    <strong>Definition:</strong>
    <%= concept.definition %>
  </p>

  <p>
    <strong>Rdf template:</strong>
    <%= concept.rdf_template %>
  </p>

</div>
