<%= form_with(model: concept_match) do |form| %>
  <% if concept_match.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(concept_match.errors.count, "error") %> prohibited this concept_match from being saved:</h2>

      <ul>
        <% concept_match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :concept_id, style: "display: block" %>
    <%= form.collection_select :concept_id, @concepts, :id, :label %>
  </div>

  <div>
    <%= form.label :option_id, style: "display: block" %>
    <%= form.collection_select :option_id, @options, :id, :value %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
