<div id="<%= dom_id int_record %>">
  <p>
    <strong>Type:</strong>
    <%= int_record.type %>
  </p>

  <p>
    <strong>Patient ID:</strong>
    <%= int_record.patient_id %>
  </p>

  <p>
    <strong>Field:</strong>
    <%= int_record.field.name %>
  </p>

  <p>
    <strong>Int value:</strong>
    <%= int_record.int_value %>
  </p>

  <p>
    <strong>String value:</strong>
    <%= int_record.string_value %>
  </p>

</div>
