<div id="<%= dom_id field %>">
  <p>
    <strong>Name:</strong>
    <%= field.name %>
  </p>

  <p>
    <strong>CType:</strong>
    <%= field.ctype %>
  </p>

  <p>
    <strong>Example:</strong>
    <%= field.example %>
  </p>

  <p>
    <strong>Stats:</strong>
    <%= field.stats %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= field.description %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= field.document_id %>
  </p>

  <p>
    <strong>Processed:</strong>
    <%= field.processed %>
  </p>

  <% if field.field_group %>
  <p>
    <strong>Field Group:</strong>
    <%= field.field_group.name %>
  </p>
  <% end %>

</div>
