<div id="<%= dom_id field %>">
  <p>
    <strong>Type:</strong>
    <%= field.type %>
  </p>

  <p>
    <strong>Example:</strong>
    <%= field.example %>
  </p>

  <p>
    <strong>Stats:</strong>
    <%= field.stats %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= field.description %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= field.document_id %>
  </p>

</div>
